* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #FF4C29;
    --orange: #FB7A46;
    --blue: #1C1A4E;
    --lightBlue: #5e5fda; 
  }

.text-red {
    color: var(--red);
  }
.text-blue {
    color: var(--blue);
  }
.bg-white {
    background-color: white;
  }

html {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    height: 800px;
    background-color: var(--blue);
}

.inner-container {
    margin: 0 auto;
    width: 1100px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
}

.col {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    color: white;
}

.col-list {
    display: flex;
    list-style-type: none;
}

.list-item {
    display: flex;
    margin-left: 1rem;
}

.icon-item {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
}

.basket {
   position: relative;
}

.badge {
    position: absolute;
    top: 40%;
    right: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 0.6rem;
    background-color: var(--orange);
    color: white;
}

.row {
    display: flex;
    gap: 2rem;
}

.row-second {
    display: flex;
    gap: 2rem;
}

.col-row {
    display: flex;
}

.flex-col {
    display: flex;
}

.align-start {
    align-items: flex-start;
}

.col-first {
    display: flex;
    height: 300px;
}

.col-30 {
    display: flex;
}

.col-70 h3 {
    margin-bottom: 1rem;
    color: var(--blue);
}

.col-70 h2 {
    font-size: medium;
    font-weight: 400;
    padding-bottom: 10px;
    color: var(--blue);
}

.col-70 {
    margin: 1rem;
}

.col-40 {
    width: 40%;
   
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.img, svg {
    width: 100%;
}

.jumbo-text{ 
    padding-top: 3rem;
}

.jumbo-text small {
    font-size: 0.6rem;
    font-weight: normal;
}

.jumbo-data-title {
    color: var(--red);
    font-size: 1.3rem;
}

.jumbo-title {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.jumbo-title img{
    height: 1.2rem;
    vertical-align: middle;
}

.jumbo-second-title {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.col-number {
    margin: 0.5rem;
}

.jumbo-svg {
    width: 70px;
    height: 70px;
    margin: 1rem;
}

.col-first .col-70 .button-more button,
.col-first .col-70 .button-now button {
    margin-top: 1rem;
    text-decoration: none;
    border: none;
    color: white;
    padding: 16px 38px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.col-first .col-70 .button-more button {
    background-color: var(--orange);
    margin-top: 1rem;
}

.col-first .col-70 .button-now button{
    background-color: var(--blue);
    margin-top: 1rem;
}

.jumbo-best-third {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4.5px;
    padding-bottom: 4.5px;
}

.jumbo-best {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.jumbo-best-second {
    font-size: 28px;
    font-weight: 700;
    

}

.row-square {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.square {
    width: 20px;
    height: 20px;
}

.square-text {
    display: flex;
    color: var(--blue);
}

.work {
    margin-left: 1rem;
}

.col-33 {
    width: 33%;
}

.col-25 {
    display: flex;
    width: 25%;
    color: white;
   
}

.col-25-blue {
    background-color: var(--blue);
}

.col25 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.span {
    font-size: 30px;
    margin-top: 1rem;
}

.p-span {
    margin-top: 0.5rem;
}

.svg-25 {
    font-size: 20px;
}

.btn-more-service {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    background-color: var(--orange);
    font-size: 15px;
    cursor: pointer;
}

.col-more {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.col-35 {
    width: 35%;
}

.col-search {
    display: flex;
}

.col-35 h2 {
    font-size: medium;
    font-weight: 400;
    padding-bottom: 10px;
    color: var(--blue);
}

.col-35 h3 {
    margin-bottom: 1rem;
    color: var(--blue);
}
 
.img-search {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.blue-row {
    width: 100%;
    height: 300px;
    margin-top: 5rem;
    background-color: var(--blue);
}
